<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="sedanCar" class="adilet.SedanCar">
        <property name="brand" value="${brand}"/>
        <property name="volume" value="${volume}"/>
    </bean>

    <bean id="restylingCar" class="adilet.RestylingCar">
        <property name="carDescription" >
            <list>
                <value>${brand}</value>
                <value>${volume}</value>
                <value>${year}</value>
            </list>
        </property>
    </bean>

    <bean id="hatchbackCar" class="adilet.HatchbackCar">
        <property name="brand" value="${brandH}"/>
        <property name="year" value="${year}"/>
    </bean>

<!--    <bean id="car" class="adilet.Car">-->
<!--        <constructor-arg ref="hatchbackCar">-->
<!--        </constructor-arg>-->
<!--    </bean>-->

    <bean id="car" class="adilet.Car">
        <property name="salon" ref="restylingCar">
        </property>
    </bean>




</beans>






